# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CSA_H20.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ruben\OneDrive\HSLU\CSA\CSA_H20\.idea\.idea.CSA_H20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
